<div id="details-page" class="rsvp-modal">
  <h2>Location</h2>
  <div class="content-block venue">

    <div class="descript-cont">
      <img class="map" src="img/map.png">
      <div class="main-block">
        <p>The wedding ceremony begins at 2:00PM at the home of Matthew and Mystie Winkler.
      </div>
    </div>
  </div>
  <div class="content-block registry">
    <h2>Registry</h2>

    <div class="descript-cont">
      <p>Kirsten and Noah are registered at</p>
      <a class="welm" href="http://www.westelm.com/"><img src="img/westelm.png"></a>
      <a class="amazon" href="https://www.amazon.com"><img src="img/amazon.svg"></a>
    </div>
  </div>


</div>
