<div id="details-page" class="rsvp-modal">
  <h2>Wedding Details</h2>
  <div class="content-block venue">

    <div class="descript-cont">
      <img class="map" src="img/map.png">
      <div class="main-block">
        <p>The wedding ceremony and reception will be held at the <a href="https://www.google.com/maps/place/Terra+Blanca+Winery+%26+Estate+Vineyard/@46.264506,-119.467758,15z/data=!4m5!3m4!1s0x0:0xcf338045d0fef6af!8m2!3d46.264506!4d-119.467758?sa=X&ved=0ahUKEwiqv66YyZjTAhUT6mMKHWDxDi8Q_BIIdjAR">Terra Blanca Winery</a>.</p>

      </div>
    </div>
  </div>
  <div class="content-block registry">

    <div class="descript-cont">
      <p>Rachel and Donny would prefer no gifts brought to the wedding so they don't have to move them, but would appreciate gift cards to West Elm and Amazon.</p>
      <a class="welm" href="http://www.westelm.com/"><img src="img/westelm.png"></a>
      <a class="amazon" href="https://www.amazon.com"><img src="img/amazon.svg"></a>
    </div>
  </div>
  <h2>Lodging</h2>

  <div class="content-block lodge">

    <div class="descript-cont">
      <div class="hotel">
        <a href="https://goo.gl/maps/scHX5VJmDaw">Courtyard by Marriott</a>
        <p>509.942.9400</p>
      </div>
      <div class="hotel">
        <a href="https://goo.gl/maps/FdoHupcSjtT2">Holiday Inn Express</a>
        <p>509.543.7000</p>
      </div>
      <div class="hotel">
        <a href="https://goo.gl/maps/bdURASWVCQQ2">Hampton Inn by Hilton</a>
        <p>509.943.4400</p>
      </div>
    </div>
  </div>
</div>
