<div id="details-page" class="rsvp-modal">
  <h2>Location</h2>
  <div class="content-block venue">

    <div class="descript-cont">
      <img class="map" src="img/map.png">
      <div class="main-block">
        <p>The wedding ceremony begins at 4:00PM at the home of Matthew & Mystie Winckler. </p>
                <p>Reception to follow.</p>
        <p class="first-add">5023 W 12th Ave</p>
        <p class="second-add">Kennewick, WA 99338</p>

        <p class="second-add">Please carpool - parking at 5101 & 4711 W. 12th Avenue</p>
      </div>
    </div>
  </div>
  <div class="content-block registry">
    <h2>Registry</h2>

    <div class="descript-cont">
      <p>Kirsten and Noah are registered at</p>
      <a class="welm" href="https://www.target.com/gift-registry/giftgiver?registryId=cac51c85e3e5473a9fd0905cfcd97dc7&lnk=registry_custom_url"><img src="img/target_logo.svg"></a>
      <a class="amazon" href="https://www.amazon.com/wedding/kirsten-paulson-noah-farris-kennewick-june-2018/registry/F51RK7D78359"><img src="img/amazon.svg"></a>
    </div>
  </div>


</div>
