<div id="details-page" class="rsvp-modal">
  <h2>Wedding Details</h2>
  <div class="content-block venue">
    <div class="section-header">Venue</div>

    <div class="descript-cont">
      <img class="map" src="img/map.png">
      <p>Rachel and Donny are registered at Amazon and would also appreciate gift cards to Anthropologie or West Elm.</p>
    </div>
  </div>
  <div class="content-block registry">
    <div class="section-header">Registry</div>

    <div class="descript-cont">
      <p>Rachel and Donny are registered at Amazon and would also appreciate gift cards to Anthropologie or West Elm.</p>
      <a class="amazon" href="https://www.amazon.com"><img src="img/amazon.svg"></a>
      <a class="anth" href="https://www.anthropologie.com/"><img src="img/anthro.png"></a>
      <a class="welm" href="http://www.westelm.com/"><img src="img/westelm.png"></a>
    </div>
  </div>
</div>
