<div id="details-page" class="rsvp-modal">
  <h2>Wedding Details</h2>
  <div class="content-block registry">
    <div class="section-header"></div>
    <div class="descript-cont"></div>
  </div>
</div>
