<form id="finish-form" class="rsvp-modal">
  <h2>Finish</h2>
  <div class="content">
    <div class="label ion-ios-chatbubble-outline">Write a message for Rachel and Donny</div>
    <div class="field">
      <textarea class="message" rows="5"></textarea>
    </div>
    <div class="label ion-ios-musical-notes">Suggest tunes for the reception!</div>
    <div class="field">
      <textarea class="songs" rows="3"></textarea>
    </div>
  </div>
  <div class="paging">
  <div class ="btn prev-btn ion-ios-arrow-left">Back</div>
  <div  class ="btn next-btn">Finish<span class="ion-ios-arrow-right"></span></div>
  </div>
  <div class="msg">
  </div>
</form>
