<form id="search-form" class="rsvp-modal">
  <h2>Find your party</h2>
  <div class="vertical-fields">
    <div> First Name</div>
    <input id = "textSearchFirst" type="textbox"></input>
    <div> Last Name</div>
    <input id = "textSearchLast" type="textbox"></input>
  </div>

  <input id ="submit-btn" type="submit" value="Find"></input>
  <div class="msg">
  </div>


</form>
