<form id="enter-form" class="rsvp-modal">
  <h2>RSVP</h2>
  <div class="content">
  </div>
  <input class ="prev-btn" type="button" value="Previous"></input>
  <input  class ="next-btn" type="submit" value="Next"></input>
  <div class="msg">
  </div>
</form>
