<form id="enter-form" class="rsvp-modal">
  <h2>RSVP</h2>
  <p>Check the names of those who are attending. Unchecked names are those can't make it. Note that you need to RSVP seperately if there are different last names in your party</p>

  <div class="content">
  </div>
  <div class="paging">
  <div class ="btn prev-btn ion-ios-arrow-left">Back</div>
  <div  class ="btn next-btn">Submit<span class="ion-ios-arrow-right"></span></div>
  </div>
  <div class="msg">
  </div>
</form>
