<form id="enter-form" class="rsvp-modal">
  <h2>RSVP</h2>
  <div class="content">
  </div>
  <div class="paging">
  <div class ="btn prev-btn ion-ios-arrow-left">Back</div>
  <div  class ="btn next-btn">Submit<span class="ion-ios-arrow-right"></span></div>
  </div>
  <div class="msg">
  </div>
</form>
