<div class="norm-page-body">
  <h2>Who's coming</h2>
  <div>
    <div>Attending: <span id="totalComing">{{ yes_num }}</span></div>
    <div>Guests NOT attending: <span id="totalNo">{{ no_num }}</span></div>
    <div>No response: <span id="totalSlacker">{{ na_num }}</span></div>
  </div>
</div>
