h2{
  font-size: 40px;
  font-weight: normal;
  color:#222;
}
html{
  font-family: "Raleway",sans-serif;
  font-weight: 400;
  font-size: 16px;
}
h1, h2, h3{
  font-family: "Raleway", serif;
}

div, input, span,textarea{
  box-sizing: border-box;
}

textarea{
  resize: none;
  width: 100%;
  font-size: 18px;
  font-weight: 300;
}
.label{
  width: 100%;
  font-size: 24px;
  font-weight: 300;
  text-align: left;
  margin-bottom: 20px;
  padding-left: 40px;
position: relative;
}
.field{
  position: relative;
  margin-bottom: 25px;
}

.label:before{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  font-size: 40px;
}
.msg{
  position: absolute;
  height: auto;
  padding: 12px 15px;
  background: #333;
  top: 50%;
  max-width: 800px;
  min-width: 600px;
  left: 50%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  color:#fff;
  z-index: 10;
  left: 50;
  display: none;
}
html{
  background: #eee;
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%;
}
body{
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  top: 0;
  bottom: 0;
  display: block;
}

.ui-dialog-titlebar .ui-dialog-title{
  display: none;
}
.rsvp-modal h2{
  font-weight: 300;
  margin: 0;
  margin-bottom: 30px;
  text-align: left;
}
.sub-copyright{
  font-size: 12px;
  font-family: "Cormorant Garamond";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5px;
}
.sub-copyright span.big-slash{
  font-size: 20px;
  font-weight: lighter;
  position: relative;
  display: inline-block;
  bottom: -2px;
}

#search-form input[type="textbox"],textarea{
  width: 100%;
  padding:5px 15px;
  font-size: 20px;
  margin-bottom: 20px;
  border: 1px #aaa solid;
}

#search-form input[type="textbox"]:focus,textarea:focus{
  border-color: #222;
}

input{
  font-family: "Raleway";
}
input[type="button"],input[type="submit"]{
  background: #111;
  border: none;
  border-radius: 0;
  color: #fff;
  padding: 10px 30px;
  display: inline-block;
  box-sizing: border-box;
  width: 100px;
  height: 50px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  letter-spacing:3px;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
}
a.button{
  background: #111;
  border: none;
  border-radius: 0;
  color: #fff;
  padding-top: 16px;
  display: inline-block;
  box-sizing: border-box;
  width: 120px;
  height: 50px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  letter-spacing:3px;
  text-decoration: none;
  text-transform: uppercase;
}
input[type="button"]:hover,input[type="submit"]:hover,a.button:hover{
  cursor: pointer;
}
a.button.light{
  background: #fff;
  color: #111;
}
input:focus, *:focus{
  box-shadow: none;
  outline: none;
}
.vertical-fields{
  text-align: left;
}
.bg-img{
  background: url('../img/couple.jpg') no-repeat;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: block;
  position: relative;
  padding: 0 20px;
}
.center.entry{
  top: 50px;
  position: relative;
}
h1.site-title{
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 0;
  padding-top: 50px;
}
h1.site-title span{
  font-size: 25px;
  position: relative;
  top: -10px;
  display: inline-block;
}
.site-date{
  font-size:20px;
  letter-spacing:3px;
  position: relative;
  width: 150px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}
.site-date:after,.site-date:before{
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  border-bottom: 1px solid #222;
  top: 10px;
  content: "";
}
.site-date:after{
  right: -55px
}
.site-date:before{
  left: -55px
}
.button-menu{
  margin-top: 40px;
}
.center.entry .button:first-child{
  margin-right: 55px;
}
.ui-dialog{
  position: relative;
  z-index: 8;
  height: auto;
  max-width: 600px;
  margin: 0 auto;
  background: rgba(255,255,255,0.95);
  border-radius: 10px;
  padding: 35px 15px;
  position: relative;
}
button.ui-dialog-titlebar-close{
  position: absolute;
  left: -13px;
  top: -16px;
  z-index: 10;
  border: none;
  font-size: 0;
  height: 0;
  width: 0;
  display: inline-block;
  padding: 0;
  box-sizing: border-box;
}
button.ui-dialog-titlebar-close:hover{
  cursor: pointer;
}
button.ui-dialog-titlebar-close:before{
  display: inline-block;
  position: absolute;
  content: "\f406";
  font-size: 36px;
  font-family:"Ionicons";
  font-weight: normal;
  z-index: 10;
}
button.ui-dialog-titlebar-close:after{
  display: inline-block;
  position: absolute;
  content: "";
width: 35px;
height: 35px;
border-radius: 80px;
left: -3px;
top: 2px;
background: #eee;
  z-index: 9
}
.check-field{
  text-align: left;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
}
.check-field-content{
  text-transform: capitalize;
  position: relative;
  /*padding-left: 40px;*/
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

/* checkbox aspect */
input[type="checkbox"] + label:before {
  content: "\f401";
  font-size: 28px;
  font-family: "Ionicons";
  position: absolute;
  left:0; top: 0;
  width: 30px; height: 30px;
  border: none;
  background: none;
  border-radius: 0;
  box-shadow: none;
}
/* checked mark aspect */
input[type="checkbox"]:checked + label:before {
  content: "\f3ff";
}
input[type="checkbox"]:hover + label:before {
  content: "\f3fe";
}

.paging{
  width: 100%;
  overflow: visible;
  height: 40px;
}
.paging .prev-btn{
  float: left;
}
.paging .next-btn{
  float: right;
}
.paging .next-btn, .prev-btn{
  font-size:16px;
  font-weight: 100;
  height: 40px;
  text-transform: uppercase;
}
.btn:hover{
  cursor: pointer;
}
.next-btn span:before, .prev-btn:before{
  font-size:42px;
  font-weight: 100;
  top: 10px;
  position: relative;
  margin-right: 10px;
}
.next-btn span:before{
margin-left: 10px;
margin-right: 0;
}

.rsvp-modal p{
  text-align: left;
  font-size: 16px;
}

.ui-dialog{
  width: 90% !important;
}



.ion-ios-checkmark.finish-ic{
  position: fixed;
  font-size: 15px;
  left: 50%;
  z-index: 999;
  top:50%;
  display: block;
  transform: translate(-50%,-50%);
  opacity: .1;
}
.ion-ios-checkmark.finish-ic::after{
  position: fixed;
width: 75%;
height: 50%;
border-radius: 1000px;
content: "";
background: #fff;
left: 50%;
  z-index: -1;
  top:50%;
  display: block;
  transform: translate(-50%,-50%);
}





html{}
